repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: pretty-format-json
        args: ['--autofix', '--no-sort-keys']
        exclude: ^(package(-lock)?\.json|tsconfig\.json)$

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        files: \.(js|jsx|ts|tsx)$
        types: [file]
        args: ['--fix']
        additional_dependencies:
          - eslint@8.54.0
          - '@typescript-eslint/eslint-plugin@6.13.1'
          - '@typescript-eslint/parser@6.13.1'

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [javascript, jsx, ts, tsx, json, yaml, markdown]
        exclude: ^(package(-lock)?\.json|CHANGELOG\.md)$

exclude: ^(node_modules/|dist/|out/|\.vscode/|resources/)
